body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:424px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:424px;
}
#u1902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:25px;
  width:665px;
  height:373px;
  overflow:hidden;
}
#u1903_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:373px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1903_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:508px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-81px;
  width:881px;
  height:508px;
}
#u1904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:312px;
  width:665px;
  height:28px;
  overflow:hidden;
}
#u1905_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1905_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
}
#u1906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:668px;
  height:5px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:665px;
  height:2px;
}
#u1907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:134px;
  height:5px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:131px;
  height:2px;
}
#u1908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909 {
  position:absolute;
  left:131px;
  top:0px;
  touch-action:none;
}
#u1909_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background-image:none;
}
#u1909_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1910_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:38px;
  height:38px;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:340px;
  width:36px;
  height:32px;
}
#u1911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:340px;
  width:36px;
  height:32px;
}
#u1912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:340px;
  width:33px;
  height:32px;
}
#u1913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:340px;
  width:28px;
  height:32px;
}
#u1914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:25px;
  width:30px;
  height:28px;
}
#u1915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
